.menu-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #f3f4ed;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #2e3238;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  opacity: 0.8;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: #393e46;
  transition: all 0.5s ease-out;
  transform: translate3d(0, 100%, 0);
  opacity: 0.9;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("https://vsredshift.github.io/home/images/profile.jpeg") center/cover;
  border-radius: 50%;
  border: solid 3px #00adb5;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #00adb5;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 500;
  color: #f3f4ed;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #00adb5;
}

.nav-item:nth-child(1) {
  transition-delay: 0.15s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.45s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.6s;
}

* {
  box-sizing: border-box;
}

body {
  background: #393e46;
  color: #f3f4ed;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(57, 62, 70, 0.8);
}

/*-----------------------------------------------------
            HEADINGS
______________________________________________________*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(62, 67, 76, 0.5);
}

/*-----------------------------------------------------
            LINKS
______________________________________________________*/
a {
  color: #f3f4ed;
  text-decoration: none;
}

/*-----------------------------------------------------
            HEADER
______________________________________________________*/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #00adb5;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #00adb5;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: solid 3px #00adb5;
  width: 250px;
  height: 250px;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job {
  background: #444a54;
  padding: 1rem;
  border-bottom: solid 5px #00adb5;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.projects img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px #f3f4ed solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #00adb5;
  transition: all 0.5s ease-out;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background: #00adb5;
  color: #f3f4ed;
}

.btn-dark {
  background: black;
  color: #f3f4ed;
}

.btn-light {
  background: #b8bdc6;
  color: #111;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #22252a;
  color: #f3f4ed;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main#home h1 {
    font-size: 4.5rem;
  }

  ul.menu-nav,
div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    opacity: 0.96;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
  }

  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
    font-size: 2.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}