/*-------------------------------------------------------
            Colours & Background
--------------------------------------------------------*/

$primary-color: #424642;
$secondary-color: #c06014;
// $primary-color: #393e46;
// $secondary-color: #b67162;
// $primary-color: #364547;
// $secondary-color: #ffe268;
$text-color: #f3f4ed;

$show-home-image: true;
// $home-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
$home-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

$background-opacity: 0.88;

/*-------------------------------------------------------
            Mixins
--------------------------------------------------------*/

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

/*-------------------------------------------------------
            Functions
--------------------------------------------------------*/

// Set text colour to contrast with background colour
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return $text-color;
    }
}

/*-------------------------------------------------------
            Media Queries
--------------------------------------------------------*/

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
