// Menu Button
.menu-btn {
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    z-index: 3;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        background: $text-color;
        @include easeOut;
    }

    // Rotate Into X with Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - hidden
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}
